body {
  font: 1rem/1.5 var(--bs-font-sans-serif);
}
a {
  color: var(--bs-blue);
}
.button-group {
  display: flex;
  width: 100%;
}

.button-group button {
  flex-grow: 1;
  border: none;
  outline: none;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  font-size: 16px;
  cursor: pointer;
  margin: 10px;
}

.button-group button:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.button-group button:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.button-group button:hover {
  background-color: #3e8e41;
}
button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 100px;
}

button + button {
  margin-left: 10px;
  margin-right: 10px;
}
.loading-scanner-qr {
  position: relative;
  width: 100px;
  height: 100px;
}

.loading-scanner-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 4px solid #eee;
  border-radius: 50%;
  box-sizing: border-box;
}

.loading-scanner-code {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60%;
  height: 60%;
  transform: translate(-50%, -50%);
}

.loading-scanner-code-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 4px solid transparent;
  border-top-color: #4CAF50;
  border-radius: 50%;
  box-sizing: border-box;
  animation: loading-scanner-code 2s linear infinite;
}

@keyframes loading-scanner-code {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
